<h1>Inventory List</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.title %></td>
        <td><%= inventory.description %></td>
        <td><%= inventory.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Inventory', new_inventory_path %>
